body {
    background: #f0f0f0
}

/* ======================|=|Header|=|====================== */

.header {
    background: #00aeef;
}

.header h1 {
    color: white;
    font-weight: bold;
}

/* ======================|=|Calender|=|====================== */

.jsCalendar tbody td.jsCalendar-selected {
    border-radius: 18px;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    width: 36px;
    background: #00aeef;
    border: none;
}

.jsCalendar tbody td.jsCalendar-current {
    color: unset;
    background: unset;
}

#mainCalender {
    display: flex;
}

#mainCalender table {
    margin: auto;
}

/* ======================|=|Form|=|====================== */

#form {
    background: white;
}

#form input, #form textarea {
    border-radius: 0;
    background: #ececec;
    border: none;
}

#form label {
    font-weight: bold
}

#form .form-group {
    margin-bottom: 0;
    margin-top: 1rem;
}

/* ======================|=|Control|=|====================== */

#control {
    width: 100%;
    position: relative;
}

.control-body {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}